@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
body {
   font-family: Poppins;
   padding-top: 56px;
   background-color: #f3f7fa;
}
.navbar {
   margin-bottom: 50px;
   background-color: #d8e3ed;
   padding: 10px;
}
.navbar-brand {
   font-family: Lato;
   font-weight: 700;
   font-size: 25px;
}
.navbar-nav .nav-link:hover {
   color: #2a2f3c;
   text-decoration: underline;
   transition: ease-in-out 3ms;
}
.jumbotron {
   background-color: #e9f1f6;
   padding: 70px 0;
   margin: 30px;
   border-radius: 20px;
   line-height: 25px;
   height: 550px;
   font-weight: 400;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.display-4,
.lead {
   font-weight: 500;
}
span {
   color: #778ab4;
}
.about {
   padding: 50px;
   background-color: #e9f1f6;
   margin: 20px;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.jumbotron img {
   max-width: 80%;
   height: auto;
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.about img {
   max-width: 80%;
   height: auto;
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.btn.btn-home {
   background-color: #d8e3ed;
   border: none;
   font-size: 15px;
   padding: 12px;
   color: #2a2f3c;
   font-weight: 300;
}
.btn.btn-home:hover {
   background-color: #d8e3ed;
}
.footer {
   background-color: #64749d;
   color: white;
   padding: 10px 0;
   text-align: center;
}
.border {
   border: 3px;
}
ul li {
   list-style: none;
}
@media (max-width: 768px) {
   .jumbotron {
      padding-top: 10px;
   }

   .jumbotron .container {
      display: flex;
      flex-direction: column;
   }

   .jumbotron .container .row {
      flex-direction: column-reverse;
   }
   .jumbotron img {
      height: 150px;
      width: 200px;
      margin-top: 5px;
   }
   .display-4,
   .lead {
      text-align: left;
      margin-top: 5px;
      margin-bottom: 0px;
   }
   .jumbotron p {
      text-align: left;
      margin-top: 12px;
   }
   .border {
      display: none;
   }

   .btn.btn-home {
      margin-top: 0px;
   }
   .about img {
      height: 150px;
      width: 200px;
   }
   .about .col-md-6.check {
      margin-top: 20px;
   }
   #video {
      width: 100%;
   }
}
